/**
 * Universal
 */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

a.disable {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

/**
 * Typography
 */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  /*color: darkblue;*/
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/**
 * Header
 */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/**
 * Header profile image component
 */

.profile-header-img {
  padding-top: 8px;
  cursor: pointer;
  float: right;
}

.profile-header-img img.img-circle {
  width: 35px;
  height: 35px;
  border: 2px solid orange;
}

.profile-header-img span.account-fullname {
  color: white;
  vertical-align: middle;
  padding-left: 5px;
}

.profile-header-img .dropdown-menu {
  left: -40px;
  text-align: center;
}

.profile-header-img .dropdown-menu a {
  color: #9d9d9d;
  text-decoration: none;
}
.profile-header-img .dropdown-menu a:hover {
  color: black;
}

/**
 * Search
 */
.search-box {
  width: 50%;
  position: absolute;
  right: 15px;
  top: -10px;
  text-align: right;
}

.search-box .form-group input.form-control {
  width: 70%;
}

/**
 * Table Accounts, Books
 */
.table-user-container {
  margin-top: 30px;
  position: relative;
}

.table-users,
.table-books {
  margin-top: 25px;
}

.table-user-container table .glyphicon,
.table-book-container table .glyphicon {
  padding-right: 5px;
}

.table-user-container .table-users tbody td.clickable,
.table-book-container .table-books tbody td.clickable {
  cursor: pointer;
  color: #1d5d90;
}
.table-user-container .table-users tbody td.clickable:hover,
.table-book-container .table-books tbody td.clickable:hover {
  font-style: italic;
}

/**
 * AccountNew button and form page
 */
p.help-block {
  font-size: 90%;
}

input[type="text"],
input[type="password"]{
  font-size: 16px;
  height: 40px;
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}

.account-new-btn {
  font-size: 20px;
  margin-left: 5px;
}

.img-placeholder {
  overflow: hidden;
  height: 300px;
  width: 300px;
  position: relative;
  border: 1px solid cadetblue;
  border-radius: 4px;
}

#uploadImg {
  display: none;
  height: 300px;
  width: 300px;
}

#inputImg {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#inputImg + label,
#inputImg + label + .downloading {
  position: absolute;
  left: 0;
  top: 0;
  height: 300px;
  width: 300px;
  border: 1px solid cadetblue;
  border-radius: 4px;
  padding-top: 120px;
  text-align: center;
  color: gray;
  cursor: pointer;
  opacity: 0;
}

#inputImg + label:hover {
  background-color: black;
  opacity: 0.6;
}

#inputImg + label + .downloading {
  z-index: 1  ;
  background-color: black;
  opacity: 0.6;
}

.form-control[readonly] {
  background-color: white;
}

.radio-group > label.role-group {
  margin-right: 50px;
}

.radio-group > label.role-radio {
  margin-right: 30px;
  font-weight: normal;
}

.radio-group > label.role-radio > input {
  margin-left: 10px;
}

.cancel-btn {
  text-align: right;
}

.submit-btn .btn,
.cancel-btn .btn {
  height: 35px;
  width: 100px;
}

.panel-title {
  font-size: 20px;
}

/**
 * Account detail
 * Book detail
 */
.account-detail .panel,
.book-detail .panel {
  margin-top: 30px;
}

.account-detail .user-img{
  height: 250px;
  max-width: 250px;
}

.book-detail .book-img {
  height: 350px;
  max-width: 300px;
}

.account-detail .back,
.book-detail .back {
  font-size: 20px;
}

.account-detail .back:hover,
.book-detail .back:hover {
  cursor: pointer;
  text-decoration: none;
}

.account-detail tbody td.clickable,
.book-detail tbody td.clickable {
  cursor: pointer;
  color: #1d5d90;
}

.account-detail tbody td.clickable:hover,
.book-detail tbody td.clickable:hover {
  font-style: italic;
}

.balance {
  font-size: 1.4em;
  font-weight: bold;
  color: #ff7d3c
}

.balance .edit-balance-icon {
  font-size: 15px;
  padding-right: 5px;
}

.balance input[type="text"] {
  font-weight: normal;
  margin-right: 5px;
}

.caution-money,
.caution-day {
  color: #ff7d3c
}

/**
 * Return books.
 */
p.returned-books-title,
p.returning-books-title {
  text-align: left;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 30px;
  color: gray
}

p.returning-books-title {
  margin-top: 40px;
}

/**
 * Login.
 */
.login-panel.panel {
  width: 50%;
  margin: 80px auto auto;
}

.login-btn.btn {
  margin-left: 40%;
  width: 120px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}
